
@{
    ViewBag.Title = "Erorr";
}

    <div class="SecError">
        <img src="~/SiteStyle/images/error.png" />
        <h4>Sorry we are unable to perform the desired action, please try again or contact us .</h4>
    </div>

