<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/SiteStyle/css/all.min.css" rel="stylesheet" />
    <link href="~/SiteStyle/css/AdminLogin.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
        @RenderBody()
    <p class="text-center Footer">All Copyrights reserved to <a href="https://dynawix.com/">Dynawix</a> © 2020</p>
</body>
</html>
