<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        .SecError {
            background-color: #FFF;
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 0px 30px 20px;
            width: 800px;
            max-width: 90%;
            margin: 40px auto 30px;
            text-align: center;
        }

            .SecError img {
                width: 100%;
                margin-bottom: 10px;
            }
    </style>
</head>
<body>
    <div class="SecError">
        <img src="~/SiteStyle/images/error.png" />
        <h4>Sorry we are unable to perform the desired action, please try again or contact us .</h4>
    </div>
</body>
</html>
