
@{
    ViewBag.Title = "Done";
}

    <div class="ContentSecAir">
        <div class="DoneView">
            <div class="Sec SecDoneView">
                <div class="row margin-0-l-r">
                    <i class="fas fa-check-circle"></i>
                    <p>
                        Thank you , your Booking Order is Confirmed Now .
                        A confirmation email has been sent to your Provided Email Address
                    </p>
                </div>
            </div>
            <div class="Sec InformationDone">
                <div class="row margin-0-l-r ColorBlue text-center marginbtn20">
                    <h6>Traveler Information</h6>
                </div>
                <div class="row margin-0-l-r margrinbtn10">
                    <div class="pull-left">Booking Number</div>
                    <div class="pull-right">8252020982520209</div>
                </div>
                <div class="row margin-0-l-r margrinbtn10">
                    <div class="pull-left">First Name</div>
                    <div class="pull-right">Saad</div>
                </div>
                <div class="row margin-0-l-r margrinbtn10">
                    <div class="pull-left">Last Name</div>
                    <div class="pull-right">Ibrahim</div>
                </div>
                <div class="row margin-0-l-r margrinbtn10">
                    <div class="pull-left">Email Address</div>
                    <div class="pull-right">Saad@gmail.com</div>
                </div>
                <div class="row margin-0-l-r margrinbtn10">
                    <div class="pull-left">Country</div>
                    <div class="pull-right">Egypt</div>
                </div>
                <div class="row margin-0-l-r margrinbtn10">
                    <div class="pull-left">City</div>
                    <div class="pull-right">Cairo</div>
                </div>
                <div class="row margin-0-l-r margrinbtn10">
                    <div class="pull-left">Nationality</div>
                    <div class="pull-right">Egyptian</div>
                </div>

            </div>
            <div class="row margin-0-l-r text-center">
                <a class="btnBlue btnGray" href="#"><i class="fas fa-print"></i> Print</a>
                <a class="btnBlue" href="#">Finish</a>

            </div>
        </div>

    </div>