
@{
    ViewBag.Title = "Info";
}
    <div class="PhotoSec MinHight">
        <img class="ImgBg" src="~/SiteStyle/images/1.png" />
        <div class="overLay"></div>
        <div class="itemSec">
            <h5><b><i class="fas fa-map-marker-alt"></i> Sharm El Sheikh</b></h5>
            <p>AURORA ORIENTAL RESORT</p>
        </div>
      
    </div>

<div class="row margin-0-l-r ContentSecAir">
    <div class="container">
        <div class="col-md-9">
            <div class="Sec">
                <div class="row margin-0-l-r HeaderHotel">
                    <div class="pull-left">
                        <h4>AURORA ORIENTAL RESORT</h4>
                        <h6><i class="fas fa-map-marker-alt"></i>Cairo , Egypt</h6>
                    </div>
                    <div class="pull-right">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="magnific-img">
                    <ul id="vertical">
                        <li class="image-popup-vertical-fit" href="/SiteStyle/images/1.png" data-thumb="/SiteStyle/images/1.png">
                            <img src="~/SiteStyle/images/1.png" />
                        </li>
                        <li class="image-popup-vertical-fit" href="/SiteStyle/images/000.png" data-thumb="/SiteStyle/images/000.png">
                            <img src="~/SiteStyle/images/000.png" />
                        </li>
                        <li class="image-popup-vertical-fit" href="/SiteStyle/images/45353.png" data-thumb="/SiteStyle/images/45353.png">
                            <img src="~/SiteStyle/images/45353.png" />
                        </li>
                        <li class="image-popup-vertical-fit" href="/SiteStyle/images/299.png" data-thumb="/SiteStyle/images/299.png">
                            <img src="~/SiteStyle/images/299.png" />
                        </li>
                        <li class="image-popup-vertical-fit" href="/SiteStyle/images/1.png" data-thumb="/SiteStyle/images/1.png">
                            <img src="~/SiteStyle/images/1.png" />
                        </li>
                        <li class="image-popup-vertical-fit" href="/SiteStyle/images/000.png" data-thumb="/SiteStyle/images/000.png">
                            <img src="~/SiteStyle/images/000.png" />
                        </li>
                        <li class="image-popup-vertical-fit" href="/SiteStyle/images/45353.png" data-thumb="/SiteStyle/images/45353.png">
                            <img src="~/SiteStyle/images/45353.png" />
                        </li>
                        <li class="image-popup-vertical-fit" href="/SiteStyle/images/299.png" data-thumb="/SiteStyle/images/299.png">
                            <img src="~/SiteStyle/images/299.png" />
                        </li>
                    </ul>

                </div>

                <div class="Descriptopn">
                    <h5>Description</h5>
                    <p>
                        834 rooms, including 67 suites and 501 double rooms, are located on 36 storeys and can be reached by lift. Staffed 24 hours a day, the reception desk makes check-in and check-out easy.
                        Amenities include a cloakroom, a safe and a currency exchange service. Wireless internet access allows guests to stay connected while on holiday. There are a number of shops as well. Additional
                        facilities include a playroom. Guests arriving by car can park their vehicles in the car park.

                        834 rooms, including 67 suites and 501 double rooms, are located on 36 storeys and can be reached by lift. Staffed 24 hours a day, the reception desk makes check-in and check-out easy.
                        Amenities include a cloakroom, a safe and a currency exchange service. Wireless internet access allows guests to stay connected while on holiday. There are a number of shops as well. Additional
                        facilities include a playroom. Guests arriving by car can park their vehicles in the car park.

                        834 rooms, including 67 suites and 501 double rooms, are located on 36 storeys and can be reached by lift. Staffed 24 hours a day, the reception desk makes check-in and check-out easy.
                        Amenities include a cloakroom, a safe and a currency exchange service. Wireless internet access allows guests to stay connected while on holiday. There are a number of shops as well. Additional
                        facilities include a playroom. Guests arriving by car can park their vehicles in the car park.
                    </p>
                    <div class="">
                        <button onclick="SeeMore()" class="SeeMore BtnSee">See More</button>
                        <button onclick="SeeLess()" class="SeeLess BtnSee">See Less</button>
                    </div>
                </div>
                <hr />
                <div class="Rooms row margin-0-l-r">
                    <h5>SELECT YOUR ROOM</h5>
                    <div class="SecRoom row margin-0-l-r">
                        <div class="col-md-9 padding-5-l-r">
                            <div class="ImgRoom">
                                <img src="~/SiteStyle/images/000.png" />
                            </div>
                            <div class="ContentRoom">
                                <h5>Deluxe Room</h5>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/wifi.png" /> free wifi </p>
                                    <p> <img src="~/SiteStyle/images/bed.png" /> 2 single bed </p>
                                </div>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/shower.png" /> Shower </p>
                                    <p> <img src="~/SiteStyle/images/drink.png" /> soft incllsive </p>
                                </div>
                                <h6>DOUBLE GUEST ROOM KING BED (Room Only)</h6>
                                <h6>
                                    <img src="~/SiteStyle/images/cancelation.png" />
                                    Cancellation deadline: non-refundable
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-3 padding-5-l-r Prices">
                            <h6>From</h6>
                            <h1>1,200 EGP</h1>
                            <div class="row margin-0-l-r">
                                <div class="pull-right">/per night</div>
                            </div>
                            <a class="Book">Book</a>
                        </div>
                    </div>
                    <div class="SecRoom row margin-0-l-r">
                        <div class="col-md-9 padding-5-l-r">
                            <div class="ImgRoom">
                                <img src="~/SiteStyle/images/000.png" />
                            </div>
                            <div class="ContentRoom">
                                <h5>Deluxe Room</h5>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/wifi.png" /> free wifi </p>
                                    <p> <img src="~/SiteStyle/images/bed.png" /> 2 single bed </p>
                                </div>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/shower.png" /> Shower </p>
                                    <p> <img src="~/SiteStyle/images/drink.png" /> soft incllsive </p>
                                </div>
                                <h6>DOUBLE GUEST ROOM KING BED (Room Only)</h6>
                                <h6>
                                    <img src="~/SiteStyle/images/cancelation.png" />
                                    Cancellation deadline: non-refundable
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-3 padding-5-l-r Prices">
                            <h6>From</h6>
                            <h1>1,200 EGP</h1>
                            <div class="row margin-0-l-r">
                                <div class="pull-right">/per night</div>
                            </div>
                            <a class="Book">Book</a>
                        </div>
                    </div>
                    <div class="SecRoom row margin-0-l-r">
                        <div class="col-md-9 padding-5-l-r">
                            <div class="ImgRoom">
                                <img src="~/SiteStyle/images/000.png" />
                            </div>
                            <div class="ContentRoom">
                                <h5>Deluxe Room</h5>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/wifi.png" /> free wifi </p>
                                    <p> <img src="~/SiteStyle/images/bed.png" /> 2 single bed </p>
                                </div>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/shower.png" /> Shower </p>
                                    <p> <img src="~/SiteStyle/images/drink.png" /> soft incllsive </p>
                                </div>
                                <h6>DOUBLE GUEST ROOM KING BED (Room Only)</h6>
                                <h6>
                                    <img src="~/SiteStyle/images/cancelation.png" />
                                    Cancellation deadline: non-refundable
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-3 padding-5-l-r Prices">
                            <h6>From</h6>
                            <h1>1,200 EGP</h1>
                            <div class="row margin-0-l-r">
                                <div class="pull-right">/per night</div>
                            </div>
                            <a class="Book">Book</a>
                        </div>
                    </div>
                    <div class="SecRoom row margin-0-l-r">
                        <div class="col-md-9 padding-5-l-r">
                            <div class="ImgRoom">
                                <img src="~/SiteStyle/images/000.png" />
                            </div>
                            <div class="ContentRoom">
                                <h5>Deluxe Room</h5>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/wifi.png" /> free wifi </p>
                                    <p> <img src="~/SiteStyle/images/bed.png" /> 2 single bed </p>
                                </div>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/shower.png" /> Shower </p>
                                    <p> <img src="~/SiteStyle/images/drink.png" /> soft incllsive </p>
                                </div>
                                <h6>DOUBLE GUEST ROOM KING BED (Room Only)</h6>
                                <h6>
                                    <img src="~/SiteStyle/images/cancelation.png" />
                                    Cancellation deadline: non-refundable
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-3 padding-5-l-r Prices">
                            <h6>From</h6>
                            <h1>1,200 EGP</h1>
                            <div class="row margin-0-l-r">
                                <div class="pull-right">/per night</div>
                            </div>
                            <a class="Book">Book</a>
                        </div>
                    </div>
                    <div class="SecRoom row margin-0-l-r">
                        <div class="col-md-9 padding-5-l-r">
                            <div class="ImgRoom">
                                <img src="~/SiteStyle/images/000.png" />
                            </div>
                            <div class="ContentRoom">
                                <h5>Deluxe Room</h5>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/wifi.png" /> free wifi </p>
                                    <p> <img src="~/SiteStyle/images/bed.png" /> 2 single bed </p>
                                </div>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/shower.png" /> Shower </p>
                                    <p> <img src="~/SiteStyle/images/drink.png" /> soft incllsive </p>
                                </div>
                                <h6>DOUBLE GUEST ROOM KING BED (Room Only)</h6>
                                <h6>
                                    <img src="~/SiteStyle/images/cancelation.png" />
                                    Cancellation deadline: non-refundable
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-3 padding-5-l-r Prices">
                            <h6>From</h6>
                            <h1>1,200 EGP</h1>
                            <div class="row margin-0-l-r">
                                <div class="pull-right">/per night</div>
                            </div>
                            <a class="Book">Book</a>
                        </div>
                    </div>
                    <div class="SecRoom row margin-0-l-r">
                        <div class="col-md-9 padding-5-l-r">
                            <div class="ImgRoom">
                                <img src="~/SiteStyle/images/000.png" />
                            </div>
                            <div class="ContentRoom">
                                <h5>Deluxe Room</h5>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/wifi.png" /> free wifi </p>
                                    <p> <img src="~/SiteStyle/images/bed.png" /> 2 single bed </p>
                                </div>
                                <div class="row margin-0-l-r ServicesRoom">
                                    <p> <img src="~/SiteStyle/images/shower.png" /> Shower </p>
                                    <p> <img src="~/SiteStyle/images/drink.png" /> soft incllsive </p>
                                </div>
                                <h6>DOUBLE GUEST ROOM KING BED (Room Only)</h6>
                                <h6>
                                    <img src="~/SiteStyle/images/cancelation.png" />
                                    Cancellation deadline: non-refundable
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-3 padding-5-l-r Prices">
                            <h6>From</h6>
                            <h1>1,200 EGP</h1>
                            <div class="row margin-0-l-r">
                                <div class="pull-right">/per night</div>
                            </div>
                            <a class="Book">Book</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Sec">
                <div class="title titleStart">
                    <div class="titleStartLabel">
                        <img class="Icon" src="~/SiteStyle/images/Icon awesome-hotel.png" />
                        Hotel Rules
                    </div>
                </div>
                <ul class="nav  nav-pills nav-fill AirTab" id="myTabHilight" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link nav-item" id="HilightDetials1" data-toggle="tab" href="#HilightDetials_1" role="tab" aria-controls="homeDetials" aria-selected="true"> Room Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item" id="HilightDetials2" data-toggle="tab" href="#HilightDetials_2" role="tab" aria-controls="profileDetials" aria-selected="false">FLEETS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item" id="HilightDetials3" data-toggle="tab" href="#HilightDetials_3" role="tab" aria-controls="profileDetials" aria-selected="false">BAGGAGE POLICY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item" id="HilightDetials4" data-toggle="tab" href="#HilightDetials_4" role="tab" aria-controls="profileDetials" aria-selected="false">OTHER POLICIES</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent3">
                    <div class="tab-pane fade active in" id="HilightDetials_1" role="tabpanel" aria-labelledby="home-tabDetials">
                        <p>
                            OTHER POLICIES
                            Booking procedures and issuance of boarding pass:
                            Passengers can easily complete their booking procedures online.
                            Passengers can also issue boarding pass over the Internet within a period ranging from 48 hours and up to 90 minutes before the time of
                            departure.
                            In the case they wish to complete their travel procedures at the airport, passengers should come to the airport 3 hours before the time of
                            departure.
                        </p>

                    </div>
                    <div class="tab-pane fade " id="HilightDetials_2" role="tabpanel" aria-labelledby="profile-tabDetials">
                        <p>
                            egyptair is an Egyptian national airline. Dating back to 1932, it was the first airline founded in the Middle East and the seventh airline all over
                            the world. Egypt Air is a member of the International Air Transport Association (IATA), the International Civil Aviation Organization (ICAO) and
                            the Arab Air Carriers' Organization (AACO). It is headquartered in Cairo and it takes Cairo International Airport as its main hub and Burj Al Arab
                            International, Sharm El Sheikh International, Luxor International Airport, Assiut International Airport, and Sohag International Airport as
                            secondary operational sites for its operations.
                            egyptair is an Egyptian national airline. Dating back to 1932, it was the first airline founded in the Middle East and the seventh airline all over
                            the world. Egypt Air is a member of the International Air Transport Association (IATA), the International Civil Aviation Organization (ICAO) and
                            the Arab Air Carriers' Organization (AACO). It is headquartered in Cairo and it takes Cairo International Airport as its main hub and Burj Al Arab
                            International, Sharm El Sheikh International, Luxor International Airport, Assiut International Airport, and Sohag International Airport as
                            secondary operational sites for its operations.
                        </p>
                    </div>
                    <div class="tab-pane fade " id="HilightDetials_3" role="tabpanel" aria-labelledby="profile-tabDetials">
                        <p>
                            egyptair is an Egyptian national airline. Dating back to 1932, it was the first airline founded in the Middle East and the seventh airline all over
                            the world. Egypt Air is a member of the International Air Transport Association (IATA), the International Civil Aviation Organization (ICAO) and
                            ional, Luxor International Airport, Assiut International Airport, and Sohag International Airport as
                            secondary operational sites for its operations.
                        </p>
                    </div>
                    <div class="tab-pane fade " id="HilightDetials_4" role="tabpanel" aria-labelledby="profile-tabDetials">
                        <p>
                            egyptair is an Egyptian national airline. Dating back to 1932, it was the first airline founded in the Middle East and the seventh airline all over
                            the world. Egypt Air is a member of the International Air Transport Association (IATA), the International Civil Aviation Organization (ICAO) and
                            the Arab Air Carriers' Organization (AACO). It is headquartered in Cairo and it takes Cairo International Airport as its main hub and Burj Al Arab
                            International, Sharm El Sheikh International, Luxor International Airport, Assiut International Airport, and Sohag International Airport as
                            r International Airport, Assiut International Airport, and Sohag International Airport as
                            secondary operational sites for its operations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="Sec ImgCompany">
                <img src="~/SiteStyle/images/Hilton.png" />
            </div>
            <div class="Sec">
                <div class="ImgSec">
                    <img src="~/SiteStyle/images/000.png" />
                </div>
                <div class="row margin-0-l-r HeaderHotel">
                    <div class="pull-left">
                        <h4>AURORA ORIENTAL RESORT</h4>
                        <h6><i class="fas fa-map-marker-alt"></i>Cairo , Egypt</h6>
                    </div>
                    <div class="pull-right">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="row margin-0-l-r">
                    <button class="row margin-0-l-r ButtonCollapsed" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <div class="pull-left">Booking Detail</div>
                        <div class="pull-right"><i class="fas fa-chevron-up"></i></div>
                    </button>

                    <div class="collapse contentCollapse" id="collapseExample">

                        <div class="row margin-0-l-r">
                            <div class="pull-left">25 March - 30 March</div>
                            <div class="pull-right"><a href="#">Edit</a></div>
                        </div>
                        <div class="row margin-0-l-r">
                            <div class="pull-left">Nights</div>
                            <div class="pull-right">7 nights</div>
                        </div>
                        <div class="row margin-0-l-r">
                            <div class="pull-left">Room</div>
                            <div class="pull-right">2 Room</div>
                        </div>
                        <div class="row margin-0-l-r">
                            <div class="pull-left">Adults</div>
                            <div class="pull-right">Adult</div>
                        </div>
                    </div>
                </div>
                <div class="row margin-0-l-r">
                    <button class="row margin-0-l-r ButtonCollapsed" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        <div class="pull-left">Promo code</div>
                        <div class="pull-right"><i class="fas fa-chevron-up"></i></div>
                    </button>

                    <div class="collapse contentCollapse" id="collapseExample3">
                        <div class="row margin-0-l-r">
                            <div class="pull-left"><input class="ApplyPromo" type="text" /></div>
                            <div class="pull-right"><button class="submitPromo">Apply</button></div>
                        </div>
                      
                    </div>
                </div>
                <div class="row margin-0-l-r">
                    <button class="row margin-0-l-r ButtonCollapsed" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        <div class="pull-left">Payment</div>
                        <div class="pull-right"><i class="fas fa-chevron-up"></i></div>
                    </button>

                    <div class="collapse contentCollapse" id="collapseExample2">
                        <div class="row margin-0-l-r">
                            <div class="pull-left">Subtotal</div>
                            <div class="pull-right">850 EGP</div>
                        </div>
                        <div class="row margin-0-l-r">
                            <div class="pull-left">Tax</div>
                            <div class="pull-right">25 EGP</div>
                        </div>
                        <hr />
                        <div class="row margin-0-l-r">
                            <div class="pull-left">Total</div>
                            <div class="pull-right">875 EGP</div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="SecAd">
                    <div class="row margin-0-l-r ColorGreen">
                        <div class="pull-left">website.com</div>
                        <div class="pull-right"><span>Ad</span></div>
                    </div>
                    <h4>Ecperiance the nile - cafelluca</h4>
                    <h5>Private 2 Hours Vruise in the Nile of the Pharaoh with dinner and drinks . morning</h5>
                    <a href="#">Visit Site</a>
                </div>
                <div class="SecAd">
                    <div class="row margin-0-l-r ColorGreen">
                        <div class="pull-left">website.com</div>
                        <div class="pull-right"><span>Ad</span></div>
                    </div>
                    <h4>Ecperiance the nile - cafelluca</h4>
                    <h5>Private 2 Hours Vruise in the Nile of the Pharaoh with dinner and drinks . morning</h5>
                    <a href="#">Visit Site</a>
                </div>
                <div class="SecAd">
                    <div class="row margin-0-l-r ColorGreen">
                        <div class="pull-left">website.com</div>
                        <div class="pull-right"><span>Ad</span></div>
                    </div>
                    <h4>Ecperiance the nile - cafelluca</h4>
                    <h5>Private 2 Hours Vruise in the Nile of the Pharaoh with dinner and drinks . morning</h5>
                    <a href="#">Visit Site</a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="Sec">
                    <div class="title">
                        <div class="">
                            <img class="Icon" src="~/SiteStyle/images/Icon awesome-hotel.png" />
                            Best Cites & Hotels
                            <img class="Line" src="~/SiteStyle/images/Line.png" />
                        </div>
                    </div>
                    <div class="row margin-0-l-r TopFooter">
                        <div class="col-md-4">
                            <a href="#">Booking in Saudi Arabia</a>
                            <a href="#">Booking in Kuwait</a>
                            <a href="#">Booking in United Arab Emirates</a>
                            <a href="#">Booking in Qatar</a>
                        </div>
                        <div class="col-md-4">
                            <a href="#">Booking in Turkey</a>
                            <a href="#">Booking in United States</a>
                            <a href="#">Booking in Morocco</a>
                            <a href="#">Booking in Bahrain</a>
                        </div>
                        <div class="col-md-4">
                            <a href="#">Booking in Oman</a>
                            <a href="#">Booking in Jordan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

    <script>

            function SeeMore() {
        $(".SeeLess").show();
        $(".SeeMore").hide();
        $(".Descriptopn p").addClass("autoHight");
    }
    function SeeLess() {
        $(".SeeLess").hide();
        $(".SeeMore").show();
        $(".Descriptopn p").removeClass("autoHight");
    }

          $(document).ready(function() {
    $('#vertical').lightSlider({
      gallery:true,
      item:1,
      vertical:true,
      verticalHeight:295,
      vThumbWidth:50,
      thumbItem:8,
      thumbMargin:4,
      slideMargin:0
    });  
  });
    $('.image-popup-vertical-fit').magnificPopup({
        type: 'image',
        mainClass: 'mfp-with-zoom',
        gallery: {
            enabled: true
        },

        zoom: {
            enabled: true,

            duration: 300, // duration of the effect, in milliseconds
            easing: 'ease-in-out', // CSS transition easing function

            opener: function (openerElement) {

                return openerElement.is('img') ? openerElement : openerElement.find('img');
            }
        }

    });





    </script>