
@{
    ViewBag.Title = "Check";
}
<div class="container">
    <div class="row margin-0-l-r">
        <div class="ContentSecAir">
            
            <div class="col-md-9">
                <a class="btnBlue btnGray" href="#"><i class="fas fa-arrow-left"></i> Back to search results</a>
                <h5>You have selected the following flights</h5>
                <div class="SecOptionSelect SecOptionSelectDone text-center row margin-0-l-r TwoWaySelect">
                    <div class="row margin-0-l-r">
                        <div class="col-xs-9 padding-5-l-r padding-top-btn-24">
                            <div class="row margin-0-l-r marginbtn20">
                                <div class="col-xs-5 no-padding">
                                    <div class="row margin-0-l-r ImgDes">
                                        <img src="~/SiteStyle/images/MS.png" />
                                        <div class="ContentWord">
                                            <h5>EgyptAir</h5>
                                            <h6>SV308</h6>
                                            <h6>(Airbus A330-300)</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1 no-padding SidebarCheckBox itemCheckBox">
                                    <input type="checkbox" id="select1" name="select" value="select">
                                    <label for="select1"></label>

                                </div>
                                <div class="col-xs-6 no-padding LineDirectContainer">
                                    <div class="row margin-0-l-r">
                                        <div class="col-xs-4 no-padding">
                                            <h5>12:00</h5>
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <h6>Total</h6>
                                            <h6>02h 25m</h6>
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <h5>18:30</h5>
                                        </div>
                                    </div>
                                    <div class="row margin-0-l-r">
                                        <div class="LineDirect"></div>
                                    </div>
                                    <div class="row margin-0-l-r">
                                        <div class="col-xs-4 no-padding">
                                            <h6>Kuwait</h6>
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <h6>Direct</h6>
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <h6>Cairo</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-0-l-r">
                                <div class="col-xs-5 no-padding">
                                    <div class="row margin-0-l-r ImgDes">
                                        <img src="~/SiteStyle/images/MS.png" />
                                        <div class="ContentWord">
                                            <h5>EgyptAir</h5>
                                            <h6>SV308</h6>
                                            <h6>(Airbus A330-300)</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1 no-padding SidebarCheckBox itemCheckBox">
                                    <input type="checkbox" id="select1" name="select" value="select">
                                    <label for="select1"></label>

                                </div>
                                <div class="col-xs-6 no-padding LineDirectContainer">
                                    <div class="row margin-0-l-r">
                                        <div class="col-xs-4 no-padding">
                                            <h5>12:00</h5>
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <h6>Total</h6>
                                            <h6>02h 25m</h6>
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <h5>18:30</h5>
                                        </div>
                                    </div>
                                    <div class="row margin-0-l-r">
                                        <div class="LineDirect"></div>
                                    </div>
                                    <div class="row margin-0-l-r">
                                        <div class="col-xs-4 no-padding">
                                            <h6>Kuwait</h6>
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <h6>Direct</h6>
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <h6>Cairo</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 padding-5-l-r padding-top-btn-10 PriceChoose">
                            <p>$Recoverable</p>
                            <h3><span>EGP</span> 3,250</h3>
                            <h6>Total Price</h6>
                            <button class="BookChoose">BOOKING NOW</button>
                            <button class="BookChoose BookChooseGray">BOOKED</button>
                        </div>
                    </div>
                </div>
                <div class="row margin-0-l-r">
                    <div class="col-md-6">
                        <div class="Sec PlaneSec">
                            <h4 class="padding-5-l-r">DEPART</h4>
                            <div class="row margin-0-l-r margrinbtn10">
                                <div class="col-xs-4">Thu 5 Mar</div>
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">Thu 5 Mar</div>
                            </div>
                            <div class="row margin-0-l-r margrinbtn10 bold">

                                <div class="col-xs-4 ">CAI 15:05</div>
                                <div class="col-xs-4 text-center">
                                    <img src="~/SiteStyle/images/iconAirBlue.png" />
                                </div>
                                <div class="col-xs-4">KWI 18:30</div>
                            </div>
                            <div class="row margin-0-l-r margrinbtn10">
                                <div class="col-xs-4">Cairo Airport</div>
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">Kuwait Airport</div>
                            </div>
                            <div class="row margin-0-l-r margrinbtn10">
                                <div class="col-xs-4">02h 25m</div>
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4"><a href="#">Egyptain</a></div>
                            </div>
                            <div class="row margin-0-l-r">
                                <div class="col-xs-2 padding-5-l-r ArriverdPlane">
                                    <div class="ArriverdPlaneSec">
                                        <h6 class="btnGray">5 Mar</h6>
                                        <h6 class="">15:05</h6>
                                    </div>
                                    <div class="ArriverdPlaneSec">
                                        <h6 class="btnGray">5 Mar</h6>
                                        <h6 class="">18:05</h6>
                                    </div>
                                </div>
                                <div class="col-xs-1 padding-5-l-r">
                                    <div class="LineDirectVertival">
                                        <img src="~/SiteStyle/images/iconAirBlue.png" />
                                    </div>
                                </div>
                                <div class="col-xs-9 padding-5-l-r CheckDetails">
                                    <h5 class="bgGrayCheck"><span class="bold">KWI</span> Kuwait Airport</h5>
                                    <h5 class="bold">02h 25m</h5>
                                    <div class="imgContent">
                                        <img src="~/SiteStyle/images/MS.png" />
                                        <span>gyptAir</span>
                                    </div>
                                    <h6 class="smallGray">MS620 (Airbus A330)</h6>
                                    <h6 class="smallGray">Economy</h6>
                                    <h5 class="bgGrayCheck"><span class="bold">CAI</span> Cairo Airport</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="Sec PlaneSec">
                            <h4 class="padding-5-l-r">DEPART</h4>
                            <div class="row margin-0-l-r margrinbtn10">
                                <div class="col-xs-4">Thu 5 Mar</div>
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">Thu 5 Mar</div>
                            </div>
                            <div class="row margin-0-l-r margrinbtn10 bold">

                                <div class="col-xs-4 ">CAI 15:05</div>
                                <div class="col-xs-4 text-center">
                                    <img src="~/SiteStyle/images/iconAirBlue.png" />
                                </div>
                                <div class="col-xs-4">KWI 18:30</div>
                            </div>
                            <div class="row margin-0-l-r margrinbtn10">
                                <div class="col-xs-4">Cairo Airport</div>
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4">Kuwait Airport</div>
                            </div>
                            <div class="row margin-0-l-r margrinbtn10">
                                <div class="col-xs-4">02h 25m</div>
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4"><a href="#">Egyptain</a></div>
                            </div>
                            <div class="row margin-0-l-r">
                                <div class="col-xs-2 padding-5-l-r ArriverdPlane">
                                    <div class="ArriverdPlaneSec">
                                        <h6 class="btnGray">5 Mar</h6>
                                        <h6 class="">15:05</h6>
                                    </div>
                                    <div class="ArriverdPlaneSec">
                                        <h6 class="btnGray">5 Mar</h6>
                                        <h6 class="">18:05</h6>
                                    </div>
                                </div>
                                <div class="col-xs-1 padding-5-l-r">
                                    <div class="LineDirectVertival">
                                        <img src="~/SiteStyle/images/iconAirBlue.png" />
                                    </div>
                                </div>
                                <div class="col-xs-9 padding-5-l-r CheckDetails">
                                    <h5 class="bgGrayCheck"><span class="bold">KWI</span> Kuwait Airport</h5>
                                    <h5 class="bold">02h 25m</h5>
                                    <div class="imgContent">
                                        <img src="~/SiteStyle/images/MS.png" />
                                        <span>gyptAir</span>
                                    </div>
                                    <h6 class="smallGray">MS620 (Airbus A330)</h6>
                                    <h6 class="smallGray">Economy</h6>
                                    <h5 class="bgGrayCheck"><span class="bold">CAI</span> Cairo Airport</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-0-l-r">
                    <div class="col-md-8 col-md-offset-2">
                        <a class="btnBlue width100" href="#">BOOKING NOW</a>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="Sec ImgCompany">
                    <img src="~/SiteStyle/images/Image 3.png" />
                </div>

                <div class="SecAd">
                    <div class="row margin-0-l-r ColorGreen">
                        <div class="pull-left">website.com</div>
                        <div class="pull-right"><span>Ad</span></div>
                    </div>
                    <h4>Ecperiance the nile - cafelluca</h4>
                    <h5>Private 2 Hours Vruise in the Nile of the Pharaoh with dinner and drinks . morning</h5>
                    <a href="#">Visit Site</a>
                </div>
                <div class="SecAd">
                    <div class="row margin-0-l-r ColorGreen">
                        <div class="pull-left">website.com</div>
                        <div class="pull-right"><span>Ad</span></div>
                    </div>
                    <h4>Ecperiance the nile - cafelluca</h4>
                    <h5>Private 2 Hours Vruise in the Nile of the Pharaoh with dinner and drinks . morning</h5>
                    <a href="#">Visit Site</a>
                </div>
                <div class="SecAd">
                    <div class="row margin-0-l-r ColorGreen">
                        <div class="pull-left">website.com</div>
                        <div class="pull-right"><span>Ad</span></div>
                    </div>
                    <h4>Ecperiance the nile - cafelluca</h4>
                    <h5>Private 2 Hours Vruise in the Nile of the Pharaoh with dinner and drinks . morning</h5>
                    <a href="#">Visit Site</a>
                </div>
            </div>
        </div>
    </div>
</div>

